# Loading Libraries

In [22]:
import numpy as np
import pandas as pd
from pandas.plotting import scatter_matrix
from pandas import Series, DataFrame
import matplotlib.pyplot as plt
from pylab import rcParams
import seaborn as sb

In [23]:
%matplotlib inline 
rcParams['figure.figsize'] = 5,4

# Loading Dataset

In [24]:
df = pd.read_csv("telecomm.csv")
df_dict1 = pd.read_csv("data_dictionary.csv")

In [49]:
df.head()

,loc_og_t2m_mou_6,loc_og_t2m_mou_7,loc_og_t2m_mou_8,loc_og_t2f_mou_6,loc_og_t2f_mou_7,loc_og_t2f_mou_8,loc_og_t2c_mou_6,loc_og_t2c_mou_7,loc_og_t2c_mou_8,loc_og_mou_6,...,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,churn_probability,av_rev_per_user,on_net,off_net,roam_ic,roam_og,loc_og_t2t
0,5.29,16.04,2.33,0.00,0.00,0.00,0.00,0.00,0.00,7.53,...,0.0,0.0,0.0,0,125.813,145.74,131.25,0.00,0.00,2.51
1,0.00,0.00,0.00,0.00,0.00,0.00,0.00,22.01,29.79,0.00,...,0.0,0.0,0.0,0,165.740,0.00,56.88,0.00,0.00,0.00
2,24.11,0.00,0.00,0.00,0.00,0.00,2.14,0.00,0.00,24.64,...,0.0,0.0,0.0,0,163.982,1.59,136.04,0.00,0.00,13.51
3,37.91,44.89,23.63,0.00,0.00,0.00,0.00,0.00,8.03,44.91,...,0.0,0.0,0.0,0,472.717,21.78,197.47,0.00,1.63,10.93
4,36.74,19.88,4.61,11.99,1.23,5.01,0.00,9.85,0.00,58.91,...,0.0,0.0,0.0,0,470.464,63.84,104.73,53.64,15.73,21.12

In [6]:
print(df_dict1)

       Acronyms                                        Description
0     CIRCLE_ID  Telecom circle area to which the customer belo...
1           LOC            Local calls  within same telecom circle
2           STD              STD calls  outside the calling circle
3            IC                                     Incoming calls
4            OG                                     Outgoing calls
5           T2T  Operator T to T ie within same operator mobile...
6       T2M                    Operator T to other operator mobile
7       T2O                Operator T to other operator fixed line
8       T2F                         Operator T to fixed lines of T
9       T2C                      Operator T to its own call center
10     ARPU                               Average revenue per user
11      MOU                          Minutes of usage  voice calls
12      AON      Age on network  number of days the customer is...
13     ONNET     All kind of calls within the same operator net...
14   OFFNET       All kind of calls outside the operator T network
15         ROAM  Indicates that customer is in roaming zone dur...
16       SPL                                         Special calls
17      ISD                                              ISD calls
18     RECH                                               Recharge
19      NUM                                                 Number
20      AMT                               Amount in local currency
21      MAX                                                Maximum
22     DATA                                        Mobile internet
23       3G                                              G network
24       AV                                                Average
25      VOL                     Mobile internet usage volume in MB
26       2G                                              G network
27      PCK                  Prepaid service schemes called  PACKS
28    NIGHT         Scheme to use during specific night hours only
29  MONTHLY      Service schemes with validity equivalent to a ...
30    SACHET     Service schemes with validity smaller than a m...
31      *.6                              KPI for the month of June
32      *.7                              KPI for the month of July
33      *.8                            KPI for the month of August
34      FB_USER  Service scheme to avail services of Facebook a...
35      VBC      Volume based cost  when no specific scheme is ...

In [52]:
df.shape

(69999, 141)

In [53]:
df.describe()

,loc_og_t2f_mou_6,loc_og_t2f_mou_7,loc_og_t2f_mou_8,loc_og_t2c_mou_6,loc_og_t2c_mou_7,loc_og_t2c_mou_8,loc_og_mou_6,loc_og_mou_7,loc_og_mou_8,std_og_t2t_mou_6,...,jul_vbc_3g,jun_vbc_3g,churn_probability,av_rev_per_user,on_net,off_net,roam_ic,roam_og,loc_og_t2t,loc_og_t2m
count,67231.000000,67312.000000,66296.000000,67231.000000,67312.000000,66296.000000,67231.000000,67312.000000,66296.000000,67231.000000,...,69999.000000,69999.00000,69999.000000,69999.000000,67231.000000,63842.000000,63842.000000,63842.000000,63842.000000,63842.000000
mean,3.743179,3.777031,3.661652,1.126025,1.361052,1.420840,143.893585,140.750120,140.476486,80.619382,...,65.935830,60.07674,0.101887,840.179103,399.459824,596.825541,23.689226,33.463002,142.648315,281.955706
std,13.319542,13.568110,13.009193,5.741811,7.914113,6.542202,252.034597,246.313148,245.342359,255.098355,...,267.899034,257.22681,0.302502,930.730241,899.889280,867.224027,134.424087,160.704206,430.661670,437.162883
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.00000,0.000000,40.280000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,17.235000,17.590000,17.237500,0.000000,...,0.000000,0.00000,0.000000,316.637500,22.230000,135.152500,0.000000,0.000000,12.010000,48.780000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,65.190000,63.430000,63.520000,0.000000,...,0.000000,0.00000,0.000000,598.988000,102.330000,311.050000,0.000000,0.000000,43.885000,138.200000
75%,2.060000,2.080000,2.030000,0.000000,0.000000,0.000000,167.880000,163.932500,165.615000,31.020000,...,0.000000,0.00000,0.000000,1068.735000,358.170000,704.977500,3.527500,6.080000,127.257500,336.187500
max,617.580000,815.330000,588.290000,342.860000,916.240000,351.830000,10643.380000,7674.780000,11039.910000,7366.580000,...,9165.600000,11166.21000,1.000000,96420.546000,22130.130000,21217.000000,9716.200000,9896.820000,20319.080000,13261.660000

In [54]:
#print(df.isnull().sum())

loc_og_t2f_mou_6    2768
loc_og_t2f_mou_7    2687
loc_og_t2f_mou_8    3703
loc_og_t2c_mou_6    2768
loc_og_t2c_mou_7    2687
                    ...
off_net             6157
roam_ic             6157
roam_og             6157
loc_og_t2t          6157
loc_og_t2m          6157
Length: 141, dtype: int64

In [35]:
#df.dtypes

In [28]:
def unique_col_values(df):
       for column in df:
            if df[column].dtypes=='object':
                print(f'{column}: {df[column].unique()}')

In [29]:
#unique_col_values(df)

We want to drop some columns as we want to reduce the size of the data frame and for de-identification.

In [25]:
df.drop(['id','circle_id','loc_og_t2o_mou','std_og_t2o_mou', 'loc_ic_t2o_mou','std_og_t2c_mou_6','std_og_t2c_mou_7','std_og_t2c_mou_8','std_ic_t2o_mou_6', 'std_ic_t2o_mou_7','std_ic_t2o_mou_8','fb_user_6','fb_user_7','fb_user_8','last_date_of_month_6','last_date_of_month_7','last_date_of_month_8' ], axis = 'columns', inplace = True)

In [ ]:
df.drop(['','','',''], axis = 'columns', inplace = True )

In [27]:
def col_with_zero(df):
    zero_sum_columns = df.columns[df.eq(0).sum() > 0]
    for col in zero_sum_columns:
        zero_sum = (df[col] == 0).sum()
        print(f"Column '{col}' has {zero_sum} zero values.")
#col_with_zero(df)

We still have more features and the next stage is to minimise the featres inorder for us to find potential predictors

In [56]:
def print_col(df):
    for col in df.columns:
        print(col)
        
print_col(df)

loc_og_t2f_mou_6
loc_og_t2f_mou_7
loc_og_t2f_mou_8
loc_og_t2c_mou_6
loc_og_t2c_mou_7
loc_og_t2c_mou_8
loc_og_mou_6
loc_og_mou_7
loc_og_mou_8
std_og_t2t_mou_6
std_og_t2t_mou_7
std_og_t2t_mou_8
std_og_t2m_mou_6
std_og_t2m_mou_7
std_og_t2m_mou_8
std_og_t2f_mou_6
std_og_t2f_mou_7
std_og_t2f_mou_8
std_og_mou_6
std_og_mou_7
std_og_mou_8
isd_og_mou_6
isd_og_mou_7
isd_og_mou_8
spl_og_mou_6
spl_og_mou_7
spl_og_mou_8
og_others_6
og_others_7
og_others_8
total_og_mou_6
total_og_mou_7
total_og_mou_8
loc_ic_t2t_mou_6
loc_ic_t2t_mou_7
loc_ic_t2t_mou_8
loc_ic_t2m_mou_6
loc_ic_t2m_mou_7
loc_ic_t2m_mou_8
loc_ic_t2f_mou_6
loc_ic_t2f_mou_7
loc_ic_t2f_mou_8
loc_ic_mou_6
loc_ic_mou_7
loc_ic_mou_8
std_ic_t2t_mou_6
std_ic_t2t_mou_7
std_ic_t2t_mou_8
std_ic_t2m_mou_6
std_ic_t2m_mou_7
std_ic_t2m_mou_8
std_ic_t2f_mou_6
std_ic_t2f_mou_7
std_ic_t2f_mou_8
std_ic_mou_6
std_ic_mou_7
std_ic_mou_8
total_ic_mou_6
total_ic_mou_7
total_ic_mou_8
spl_ic_mou_6
spl_ic_mou_7
spl_ic_mou_8
isd_ic_mou_6
isd_ic_mou_7
isd_ic_mou_8
ic_others_6
ic_others_7
ic_others_8
total_rech_num_6
total_rech_num_7
total_rech_num_8
total_rech_amt_6
total_rech_amt_7
total_rech_amt_8
max_rech_amt_6
max_rech_amt_7
max_rech_amt_8
date_of_last_rech_6
date_of_last_rech_7
date_of_last_rech_8
last_day_rch_amt_6
last_day_rch_amt_7
last_day_rch_amt_8
date_of_last_rech_data_6
date_of_last_rech_data_7
date_of_last_rech_data_8
total_rech_data_6
total_rech_data_7
total_rech_data_8
max_rech_data_6
max_rech_data_7
max_rech_data_8
count_rech_2g_6
count_rech_2g_7
count_rech_2g_8
count_rech_3g_6
count_rech_3g_7
count_rech_3g_8
av_rech_amt_data_6
av_rech_amt_data_7
av_rech_amt_data_8
vol_2g_mb_6
vol_2g_mb_7
vol_2g_mb_8
vol_3g_mb_6
vol_3g_mb_7
vol_3g_mb_8
arpu_3g_6
arpu_3g_7
arpu_3g_8
arpu_2g_6
arpu_2g_7
arpu_2g_8
night_pck_user_6
night_pck_user_7
night_pck_user_8
monthly_2g_6
monthly_2g_7
monthly_2g_8
sachet_2g_6
sachet_2g_7
sachet_2g_8
monthly_3g_6
monthly_3g_7
monthly_3g_8
sachet_3g_6
sachet_3g_7
sachet_3g_8
aon
churn_probability
av_rev_per_user
on_net
off_net
roam_ic
roam_og
loc_og_t2t
loc_og_t2m
volume_based_cost_3g

In [30]:
def add_col(df, col1, col2, col3, new_col):
    df[new_col] = df[col1] + df[col2] + df[col3]
    return df
new_col = 'av_rev_per_user'
df = add_col(df, 'arpu_6','arpu_7','arpu_8', new_col)
df.drop(['arpu_6','arpu_7','arpu_8'], axis='columns',inplace=True)

In [32]:
def add_col1(df, col1, col2, col3, new_col):
    df[new_col] = df[col1] + df[col2] + df[col3]
    return df
new_col = 'on_net'
df = add_col1(df, 'onnet_mou_6','onnet_mou_6','onnet_mou_6', new_col)
df.drop(['onnet_mou_6','onnet_mou_7','onnet_mou_8'],axis='columns',inplace=True)

In [37]:
def add_col2(df, col1, col2, col3, new_col):
    df[new_col] = df[col1] + df[col2] + df[col3]
    return df
new_col = 'off_net'
df = add_col2(df, 'offnet_mou_6','offnet_mou_7','offnet_mou_8', new_col)
df.drop(['offnet_mou_6','offnet_mou_7','offnet_mou_8'],axis='columns',inplace=True)

In [40]:
def add_col3(df, col1, col2, col3, new_col):
    df[new_col] = df[col1] + df[col2] + df[col3]
    return df
new_col = 'roam_ic'
df = add_col3(df, 'roam_ic_mou_6','roam_ic_mou_7','roam_ic_mou_8', new_col)
df.drop(['roam_ic_mou_6','roam_ic_mou_7','roam_ic_mou_8'],axis='columns',inplace=True)

In [43]:
def add_col4(df, col1, col2, col3, new_col):
    df[new_col] = df[col1] + df[col2] + df[col3]
    return df
new_col = 'roam_og'
df = add_col4(df, 'roam_og_mou_6','roam_og_mou_7','roam_og_mou_8', new_col)
df.drop(['roam_og_mou_6','roam_og_mou_7','roam_og_mou_8'],axis='columns',inplace=True)

In [46]:
def add_col5(df, col1, col2, col3, new_col):
    df[new_col] = df[col1] + df[col2] + df[col3]
    return df
new_col = 'loc_og_t2t'
df = add_col5(df, 'loc_og_t2t_mou_6','loc_og_t2t_mou_7','loc_og_t2t_mou_8', new_col)
df.drop(['loc_og_t2t_mou_6','loc_og_t2t_mou_7','loc_og_t2t_mou_8'],axis='columns',inplace=True)

In [50]:
def add_col6(df, col1, col2, col3, new_col):
    df[new_col] = df[col1] + df[col2] + df[col3]
    return df
new_col = 'loc_og_t2m'
df = add_col6(df, 'loc_og_t2m_mou_6','loc_og_t2m_mou_7','loc_og_t2m_mou_8', new_col)
df.drop(['loc_og_t2m_mou_6','loc_og_t2m_mou_7','loc_og_t2m_mou_8'],axis='columns',inplace=True)

In [55]:
def add_col7(df, col1, col2, col3, new_col):
    df[new_col] = df[col1] + df[col2] + df[col3]
    return df
new_col = 'volume_based_cost_3g'
df = add_col7(df, 'jun_vbc_3g','jul_vbc_3g','aug_vbc_3g', new_col)
df.drop(['jun_vbc_3g','jul_vbc_3g','aug_vbc_3g'],axis='columns',inplace=True)