In [38]:
import pandas as pd
#from pandas import DataFrame
from sklearn.preprocessing import MinMaxScaler

In [37]:
df.shape

(1, 14)

In [34]:
df.shape

(1, 14)

In [43]:
import pandas as pd
data_list =[[12,'employed','single','primary','yes',7872, 'yes','yes','telephone',6,2,6,37,'success']]
df = pd.DataFrame(data_list, columns=['age','job','marital','education','default','balance','housing','loan','contact','day','campaign','pdays','previous','poutcome'])

In [44]:
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,campaign,pdays,previous,poutcome
0,12,employed,single,primary,yes,7872,yes,yes,telephone,6,2,6,37,success

In [35]:
df = pd.get_dummies(data=df, columns = ['marital','contact','job', 'education','poutcome'])

In [45]:
cols = ['default','housing','loan']
for col in cols:
    df[col].replace({'yes': 1,'no': 0},inplace=True)
            
scale_cols = ['age','balance','pdays','previous','day','campaign']
df[scale_cols] = scaler.fit_transform(df[scale_cols])

In [39]:
scaler = MinMaxScaler()

In [46]:
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,campaign,pdays,previous,poutcome
0,0.0,employed,single,primary,1,0.0,1,1,telephone,0.0,0.0,0.0,0.0,success